{% extends 'base.html' %}
{% load static %}
{% block title %}
Third-Party Login Failure
{% endblock title %}

{% block body %}
    <section id="terms-of-service">
        <div class="container" data-aos="fade-up">
            <div class="tos-content" data-aos="fade-up" data-aos-delay="200">
                <div class="row">
                    <div class="col-12">
                        <h2 class="fw-700 display1-size display2-md-size mb-4">Third-Party Login Failure</h2>                        
                        An error occurred while attempting to login via your third-party account.
                    </div>
                </div> 
            </div>
        </div>
    </section>

{% endblock body %}