{% extends 'base.html' %}
{% block title %}
Change Password
{% endblock title %}

{% block body %}
    <style>
        input{
            display:block;
            width:100%;
            padding:0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.375rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15 ease-in-out;
        }
        input:focus{
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25)
        }
    </style>
    <section id="terms-of-service">
        <div class="container" data-aos="fade-up">
            <div class="tos-content" data-aos="fade-up" data-aos-delay="200">
                <div class="row">
                    <div class="col-4 mx-auto">
                        <h2 class="fw-700 display1-size display2-md-size mb-4">Change Password</h2>                        
                        <form method="POST" id="changeform">
                            {% csrf_token %}
                            
                            {% if form.errors %}
                                <ul>
                                    {% for field, errors in form.errors.items %}
                                        {% for error in errors %}
                                            <li class='text-danger'>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <div class="form-gorup">
                                        <label for='id_oldpassword' class="mont-font fw-600 font-xssss">Current Password</label>
                                        <div class="d-flex">
                                            <i class="font-sm bi-lock text-grey-500 pe-0 me-1 mt-2"></i>
                                            {{form.oldpassword}}
                                        </div>
                                    </div>        
                                </div>

                                <div class="col-lg-12 mb-3">
                                    <div class="form-gorup">
                                        <label for='id_password1' class="mont-font fw-600 font-xssss">New Password</label>
                                        <div class="d-flex">
                                            <i class="font-sm bi-lock text-grey-500 pe-0 me-1 mt-2"></i>
                                            {{form.password1}}
                                        </div>
                                    </div>        
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <div class="form-gorup">
                                        <label for='id_password2' class="mont-font fw-600 font-xssss">Confirm New Password</label>
                                        <div class="d-flex">
                                            <i class="font-sm bi-lock text-grey-500 pe-0 me-1 mt-2"></i>
                                            {{form.password2}}
                                        </div>
                                    </div>        
                                </div>                                     
                            </div>

                            <div class="row">
                                <div class="col-lg-12 mb-0">
                                    <p class="text-danger text-center" id="id_ptag"></p>
                                    <div class="form-group mb-1"><button type="submit" class="btn w-100 btn-dark">Save</button></div>
                                    <a href="{% url 'account_reset_password' %}" class="fw-600 font-xsss text-grey-700 mt-1 float-right">Forgot your Password?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
{% endblock body %}