<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <svg class="my-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="bgCarrier" stroke-width="0"></g>
          <g id="tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="iconCarrier">
            <path d="M22 22L2 22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
            <path d="M2 11L6.06296 7.74968M22 11L13.8741 4.49931C12.7784 3.62279 11.2216 3.62279 10.1259 4.49931L9.34398 5.12486" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
            <path d="M15.5 5.5V3.5C15.5 3.22386 15.7239 3 16 3H18.5C18.7761 3 19 3.22386 19 3.5V8.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
            <path d="M4 22V9.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
            <path d="M20 9.5V13.5M20 22V17.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
            <path d="M15 22V17C15 15.5858 15 14.8787 14.5607 14.4393C14.1213 14 13.4142 14 12 14C10.5858 14 9.87868 14 9.43934 14.4393M9 22V17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M14 9.5C14 10.6046 13.1046 11.5 12 11.5C10.8954 11.5 10 10.6046 10 9.5C10 8.39543 10.8954 7.5 12 7.5C13.1046 7.5 14 8.39543 14 9.5Z" stroke="currentColor" stroke-width="1.5"></path>
          </g>
        </svg>
        <h1 class="sitename">HomeSpace</h1>
      </a>

      <nav id="navmenu" class="navmenu">

        <ul>
          <li><a href="/" {% if request.path == '/' %} class="active" {% endif %}>Home</a></li>
          <li><a href="{% url 'properties' %}" {% if request.path == '/properties/' %} class="active" {% endif %}>Properties</a></li>
          <li><a href="{% url 'services' %}" {% if request.path == '/services/' %} class="active" {% endif %}>Services</a></li>
          <li><a href="{% url 'contact-us' %}" {% if request.path == '/accounts/contact-us/' %} class="active" {% endif %}>Contact</a></li>
          
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
            <li><a href="{% url 'add-property' request.user.username  %}">Add Property</a></li>
            <li>
              <div class="dropdown" style="margin-right: 47px">
                  <a href="{% url 'my-account' %}" style='padding: 0px'><img src="{{request.user.image.url}}" style='border-radius: 50%; max-height:50px;' alt="MyAccountImage"></a>
                  <ul class="dropdown-menu shadow-lg border-0 rounded-xl mt-2" style="min-width: 150px;">
                    <li>
                      <a href="{% url 'scheduled-viewing' %}">Scheduled Viewing</a>
                    </li>
                    <li><hr class="dropdown-divider my-1"></li>
                    <li>
                      <a href="{% url 'dates' %}">dates</a>
                    </li>
                  </ul>
              </div>
            </li>
            {% comment %} <li>
                  <a href="{% url 'my-account' %}" style='padding: 0px'><img src="{{request.user.image.url}}" style='border-radius: 50%; max-height:50px;' alt="MyAccountImage"></a>

            </li> {% endcomment %}
          {% else %}
            <li><a href="{% url 'account_login' %}"{% if request.path == '/accounts/login/' %} class="active" {% endif %}>Login</a></li>
            <li><a href="{% url 'account_signup' %}"{% if request.path == '/accounts/signup/' %} class="active" {% endif %}>Signup</a></li>
          {% endif %}
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
</header>